@import "tailwindcss";

body{
    background-color: #F7FAFC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.card{
    @apply  shadow-sm transition-all hover:shadow-md rounded-[12px] border-[0.5] border-[#E3E3E3] bg-[#FFFFFF] p-[16px] flex items-center justify-between ;
}